@media print {
    body {
        background-color: #fff;
        color: #000;
        font-size: 12pt;
    }

    .no-print {
        display: none;
    }

    a {
        text-decoration: underline;
    }
}
